{% extends "index.html" %}<!--Permite heredar el template de otro archivo y tiene prioridad-->
<!--Para introducir contenido unico de este template se debe usar los codigo de django-->
{% block titulo %} <!--Sirve para asignarle un titulo propio al template-->
    Creación de Autores
{% endblock titulo %}

{% block body %}
    <form method="POST">
        {% csrf_token %}<!--Codigo necesario para el envio de la BD por el metodo POST-->
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}
            {{ autor_form.as_p }} <!--Funcion de django el cual permite pintar un label e imput automaticamente, de la clase ubicada en forms.py--> 
            <label>Nombre</label>
            <!--<input type="text" name="nombre">--><!--Los nombres de los inmput debem ser los mismos de la función de la tabla de la clase form-->
            <!--Solo si se usa la clase de lo contrario se puede colocar cualquier nombre-->

            <!--<label>Apellidos</label>
            <input type="text" name="apellidos">

            <label>Nacionalidad</label>
            <input type="text" name="nacionalidad">

            <label>Descripción</label>
            <input type="text" name="descripcion">-->
            {% if var == 1 %}
                <button type="submit">Editar</button>
            {% else %}
                <button type="submit">Crear</button>
            {% endif %}
             
        {% endif %}
         
    </form>
{% endblock body %}
