{% extends "index.html" %}<!--Permite heredar el template de otro archivo y tiene prioridad-->
<!--Para introducir contenido unico de este template se debe usar los codigo de django-->
{% block titulo %} <!--Sirve para asignarle un titulo propio al template-->
    Eliminar Autor
{% endblock titulo %}

{% block body %}
    <form method="POST">
        {% csrf_token %}<!--Codigo necesario para el envio de la BD por el metodo POST-->
            <h2>¿Desea eliminar el registro del autor {{ autor.nombre }}?</h2>
            <button type="submit">Eliminar</button>
            <a href="{% url 'libro:listar_autor' %}">Cancelar</a>
         
    </form>
{% endblock body %}